.content-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.searcher-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

button {
  padding: 0.5em;
}