tbody > tr .uppercase-firstLetter {
  text-transform: lowercase;    
}

tbody > tr .uppercase-firstLetter::first-letter {
  text-transform: uppercase;    
}

tbody > tr td > p {
  display: inline;
  text-transform: capitalize;
}