* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Courier Prime', monospace;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Mukta', sans-serif;
  font-family: 'Slabo 27px', serif;
  font-family: 'Zilla Slab', serif;
}